@value makerBlack,makerWhite,makerGrey,makerGreen from '../../common/colors.css';

.preview {
  flex-basis: 50%;
  overflow-y: auto;
}

.title {
  text-align: center;
  margin: 2em 0;
  color: makerGreen;
  font-size: 1.5rem;
}

.cards {
  padding: 0.5em 2em;
}
