@value makerWhite,makerGreen from '/src/common/colors.css';

.login {
  text-align: center;
  background-color: makerWhite;
  padding: 1rem 0;
  width: 30rem;
  font-size: 2rem;
}

.title {
  margin: 0;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 1rem 0;
}

li {
  padding: 0.3rem 0;
}

.google,
.github {
  width: 90%;
  outline: 0;
  border: 0.2em solid makerGreen;
  border-radius: 2rem;
  background-color: makerWhite;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem;
}
